.results {
  display: flex; /*use flex to get movies to display horizontal*/
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 40px;
}

.results::-webkit-scrollbar {
  display: none;
}

.imageResult {
  width: 200%;
  cursor: pointer;
  object-fit: contain;
  transition: transform 450ms;
  max-height: 400px;
  margin-right: 10px;
}

.imageResult:hover {
  transform: scale(1.1);
}

.container {
  margin-left: 20px;
}
